.card{
  width: 50px;
  height: 80px;
  background: #0091ea;
  border-radius: 10px;
}

.number h1{
  text-align: center;
  line-height: 80px;
  color: white;
  font-size: 55px;
}

@font-face{
    font-family: 'robotomedium';
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face{
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face{
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular.ttf');
}


/*top bar menu*/
.topbar li {
  font-family: 'robotomedium';
  /*color: black;*/
  font-weight: bold;
  font-size: large;
  margin-left: -1%

}

.topbar span{
  color: #0091ea;
}

/**********************/

.homestudent{
  background-image:url('../img/home1.png');
  background-size: 100% 100%;
  height: auto;
  margin-top: -2%;
  padding: 50px;
  background-repeat: no-repeat;

}


.progressbar img{
  /*margin-left: -271px;
  margin-top: 250px;*/
  position: absolute;
  /*margin-top: 180%;*/
  margin-left: 20%;
  padding-top: 174px;
}

.progressbar .nav>li>a:hover,.progressbar .nav>li>a:focus {

  background: none !important;
}
.nav ul{
  /*margin-top: 23%;*/
  position: absolute;
  width: 140px;
  padding-top: 195px;
  margin-left: 67%;
}
.progressbar a{
  list-style: none;
  height: 30px;
  color: black;
}


li.active a{
  color: red !important;
}


#mainSidebar{
  position: fixed;
}


.livecounter h2{
  font-family: 'robotoregular';
  margin-top: 20%;
  /*margin-left: 38%;*/
  color: #0091ea;
  text-align: center;

}

.loginbtn img{

  margin-top: 10%;

}

.arrowbtn{
  margin-top: 75px;


}

/********************how to print***********************/


.homeprint{
  background-image: url('../img/02_how to print_blue gradient background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 50px;
}

.printtitle h1{
  font-family: 'robotolight';
  font-size: -webkit-xxx-large;
  color: white;
  text-align: center;
}

.howtologo{
  margin-top: 30px;
  font-family: 'robotolight';
  color: white;
}

.regbtn{
  text-align: center;
  margin-top: 3%;
}

/******************ads for you*******************/

.ads_student{
  background-image: url('../img/03_ads for you_hero image background.jpg');
  background-size: 100% 100%;
  height: 600px;;
  padding: 85px 50px;
}

.adslogo h1{
  font-family: 'robotolight';
  color: #0091ea;
  /*margin-top: 8%;*/
  font-size: 55px;
}

.sentence1 h3{
  /*margin-top: 7%;*/
  color: white;
  font-family: 'robotolight';
}

.sentence2 h3{
  color: white;
  font-family: 'robotolight';
}

/********************fruni spot************************/

.campus_student{
  background-image: url('../img/04_campuses_light grey background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 50px;
}

.campus{
  margin-top: 5%;
}

.campus_title h1{
  font-family: 'robotolight';
  color: #0091ea;
  /*margin-top: 2%;*/
  font-size: 52px;
}

.camp_logo{
  padding-left: 20%;
  margin-top: 6%;
}

.vline{
  border-right: thin solid #d4cdcd;;
  height: 210px;
  width: 19%;
}

.vline1 hr{
  border-color: black;
  width: 80%;
}

.vline2 hr{
  border-color: black;
  margin-top: 19%;
  width: 80%;
}

.vline3 hr{
  border-color: black;
  margin-top: 15%;
  width: 80%;

}

.hr1 hr{
  border-color: black;
  margin-top: 20%;
  width: 80%;
  /*margin-left: 44%;*/

}
.invite_sentence{
  font-family: 'robotolight';
  color: #0091ea;
  margin-top: 4%;
}
.invitebtn{
  margin-top: 3%;
}

/*******************get involve********************/

.get_involve{
  background-image: url('../img/05_get involved_blue background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 80px;

}

.involve_title h1{
  font-family: 'robotolight';
  color: white;
  margin-top: 0%;
  font-size: -webkit-xxx-large;
}

.involve_sentence{
  font-family: 'robotoregular';
  margin-top: 2%;
  color: white;
}

.joinbtn{
  margin-top: 2%;
}

.stay_connected{
  background-image: url('../img/05_get involved_light grey background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 80px;
}

.connected_title h1{
  font-family: 'robotolight';
  margin-top: 0%;
  color: #0091ea;
}

.involve_logo{
  /*padding-left: 32%;
  margin-top: 5%;
  width: 80%;*/
  text-align: center;
  margin-top: 3%;
}

/********************footer***********************/

.student_footer{
  background-image: url('../img/05_get involved_dark grey background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 50px;
}

.email_icon p{
  color: #cccbcb;
}

.ftp_involve a{
  color: #cccbcb;
}

.abf_involve a{
  color: #cccbcb;
}

.copyright_involve{
  margin-top: 38px;
  color: #cccbcb;
}



/****************student home content end***********************/

.faq_background{
  background-image: url('../img/students_terms of use_light grey background.jpg');
  background-size: 100% 100%;
  height: auto;
  margin-top: -2%;
}

.faq_title h1{
  font-family: 'robotolight';
  text-align: center;
  margin-top: 4%;
  color: #0091ea;
}

.faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: none;
    background: #f0f0f0;
  }

.faq .panel-default>.panel-heading {
      color: #333;
      background-color: #f0f0f0;
      border-style: none;
    }
.faq .panel-group .panel {
    margin-bottom: 0;
    /* border-radius: 4px; */
    border: none;
}

.panel-title span {
  font-family: 'robotoregular';
}

.faq .panel-default>.panel-heading+.panel-collapse>.panel-body{
  font-family: 'robotolight';

}


/******************end faq content*********************/

.policy_background{
  background-image: url('../img/students_terms of use_light grey background.jpg');
  background-size: 100% 100%;
  height: auto;
  margin-top: -2%;
}

.policy_title h1{
  font-family: 'robotolight';
  color: #0091ea;
  margin-top: 6%;
  font-size: -webkit-xxx-large;
}

.policy_content{
  margin-top: 6%;
}

.policy_content h5,{
  font-family: 'robotomedium';
}

.policy_content p{
  font-family: 'robotoregular';
}



/*******************end policy content*******************/

.term_background{
  background-image: url('../img/students_terms of use_light grey background.jpg');
  background-size: 100% 100%;
  height: auto;
  margin-top: -2%;
}

.term_title h1{
  font-family: 'robotolight';
  color: #0091ea;
  margin-top: 6%;
  font-size: -webkit-xxx-large;
}

.term_content h5{
  font-family: 'robotomedium';
}

.term_content p{
  font-family: 'robotoregular';
}

/*******************end terms of use*********************/

/*******************media query for home student********************/
@media only screen and (max-width: 320px){
  .howtologo{
    text-align: center;
  }

  .howto_content{
    margin-top: -20px;
  }
  .print_content img{
    width: 80px;
    margin-bottom: 20px;
  }
  .print_content1 img{
    width: 80px;
    margin-bottom: 20px;
  }

  .card{
    width: 45px;
    border-radius: 5px;
    margin-left: -15px;
  }

  .involve_logo img{
    width: 50px;
  }

  .number h1{
    font-size: 35px;
  }

  .print_content1{
    text-align: center;
  }

  .print_content{
    margin-top: 15%;
    text-align: center;
  }

  .printtitle h1{
    font-size: 35px;
  }

  .ads_student{
    height: auto;
  }

  .adslogo h1{
    font-size: 35px;
  }

  .sentence1 h3{
    font-size: 20px;
  }

  .sentence2 h3{
    font-size: 20px;
  }

  .container.campus{
    padding-left: 0px;
  }
  .campus_title h1{
    font-size: 35px;
  }

  .campus_content{
    margin-top: -15px;
  }


  .stud_foot{
    text-align: center;
  }


  .vline {
    border-right: none;
  }
  .vline1 hr {
    border:none;
  }

  .vline2 hr {
    border:none;
  }

  .vline3 hr {
    border:none;
  }

  .hr1 hr {
    border: none;
  }

  .progressbar img , .nav ul {
    display: none;
  }

  .homestudent{
    max-width: 100%;
    margin-top: -6%;
  }

  .inti_logo img{
    width: 180px;
  }

  .email_icon p {
    color: transparent;
  }

  .form_content .form-control {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      box-shadow: none;
      border-radius: 0px;
      width: 100%;
      height: auto;
  }

  .student_title h1{
    font-size: 35px;
  }

  .involve_title h1{
    font-size: 30px;
    margin-top: -20px;
  }

  .connected_title h1{
    font-size: 30px;
  }

  .join_content .form-control{
    width: 100% !important;
  }

  .form_content .form-control{
    width: 100% !important;
  }

  .invite_title h1{
    font-size: 35px;
  }

  .join_title h4{
    font-size: 15px;
  }

  .join_title h1{
    font-size: 20px !important;
  }

  .about_fp h1{
    font-size: 35px !important;
  }

  .vision{
    margin-top: -30px;
  }

  .about_mission{
    margin-top: 25px;
  }

  .involve_sentence p{
    margin-top: 0px;
  }

  .copyright_involve img{
    margin-top: -10px;
  }

}

@media only screen and (max-width: 480px){
  .involve_logo img{
    width: 50px;
  }

  .fruni_spots {
    border-bottom-style: ridge;
    width: 150px !important;
  }

  .howtologo{
    text-align: center;
  }

  .card{
    width: 45px;
    border-radius: 5px;
    margin-left: -15px;
  }

  .number h1{
    font-size: 35px;
  }

  .print_content1{
    text-align: center;
  }

  .print_content{
    margin-top: 15%;
    text-align: center;
  }

  .printtitle h1{
    font-size: 35px;
  }

  .ads_student{
    height: auto;
  }

  .adslogo h1{
    font-size: 35px;
  }

  .sentence1 h3{
    font-size: 20px;
  }

  .sentence2 h3{
    font-size: 20px;
  }

  .container.campus{
    padding-left: 0px;
  }
  .campus_title h1{
    font-size: 35px;
  }

  .campus_content{
    margin-top: -15px;
  }


  .stud_foot{
    text-align: center;
  }


  .vline {
    border-right: none;
  }
  .vline1 hr {
    border:none;
  }

  .vline2 hr {
    border:none;
  }

  .vline3 hr {
    border:none;
  }

  .hr1 hr {
    border: none;
  }

  .progressbar img , .nav ul {
    display: none;
  }

  .homestudent{
    max-width: 100%;
    margin-top: -6%;
  }

  .inti_logo img{
    width: 180px;
  }

  .email_icon p {
    color: transparent;
  }

  .form_content .form-control {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      box-shadow: none;
      border-radius: 0px;
      width: 100%;
      height: auto;
  }

  .student_title h1{
    font-size: 35px;
  }

  .involve_title h1{
    font-size: 30px;
    margin-top: -20px;
  }

  .connected_title h1{
    font-size: 30px;
  }

  .join_content .form-control{
    width: 100% !important;
  }

  .form_content .form-control{
    width: 100% !important;
  }

  .invite_title h1{
    font-size: 35px;
  }

  .join_title h4{
    font-size: 15px;
  }

  .join_title h1{
    font-size: 20px !important;
  }

  .about_fp h1{
    font-size: 35px !important;
  }

  .vision{
    margin-top: -30px;
  }

  .about_mission{
    margin-top: 25px;
  }

  .involve_sentence p{
    /*margin-top: -22px;*/
  }

  .copyright_involve img{
    margin-top: -10px;
  }


}


@media only screen and (min-width: 768px) and (max-width: 992px){
  .navbar {
    margin-bottom: 15px !important;
  }

  .navbar-header {
    width: 235px;
  }

  .value h2 {
    font-size: 22px;
  }

  .value_ads img {
    width: 80px;
  }

  .form_content .form-control {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      box-shadow: none;
      border-radius: 0px;
      width: 100%;
      height: auto;
  }


   .img_register{
     margin-top: 25px;
   }

   .img_login{
      margin-top: 25px;
   }

   .img_upload{
     margin-top: 25px;
   }

   .img_print{
     margin-top: 25px;
   }

   .img_collect{
     margin-top: 25px;
   }


  .vline {
    border-right: none;
  }

  .homestudent{
    background-image:url('../img/home1.png');
    background-size: 100% 100%;
    height: auto;
    margin-top: -12%;
    padding: 50px;
    background-repeat: no-repeat;
    max-width: 102%;
  }

  .container.campus{
    width: 730px;
  }

  .stay_connected .container{
    width: 720px;
  }

  .stud_foot .container{
    width: 720px;
  }

  .homestudent .container{
    width: 720px;
  }

}

/*******************end media query for student*********************/

/*********************invite form page**************************/

.invitation_background{
  background-image: url('../img/02_how to print_blue gradient background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 50px;
}

.invite_title h1{
  color: white;
  font-family: 'robotolight';
  font-size: 60px;
}

.form_content .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    box-shadow: none;
    border-radius: 0px;
    width: 44%;
    height: auto;
}

.form_content label{
  color: white;
  font-family: 'robotoregular';
}

.btn_invite input{
  font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #F40057;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 0px;
    margin-top: 50px;
}

.btn_invite .btn-default:hover,.btn_invite .btn-default:focus{
  color: white;
  background: #F40057;
  border-color: none;
}

.form_content{
    margin-top: 40px;
}

.check_invite{
  margin-top: 40px;
  color: white;
  font-family: 'robotoregular';
}

/********************invite form end*********************/

/*******************successfully invite******************/

.invite_success{
  background-image: url('../img/02_how to print_blue gradient background.jpg');
  background-size: 100% 100%;
  height: 700px;
  padding: 50px;
}

.success_title h1{
  font-family: 'robotolight';
  font-size: -webkit-xxx-large;
  margin-top: 10%;
  color: yellow;
}

.success_content h2{
  font-family: 'robotolight';
  margin-top: 10%;
  color: white;
}

.text{
  margin-top: -10%;
}

.to_home h4{
  margin-top: 15%;
  color: white;
  font-family: 'robotolight';
}

.to_home a{
  color: #f40057;
  text-decoration: underline;
}

/*******************successfully invite end**********************/

/********************join form*********************/

.join_background{
  background-image: url('../img/02_how to print_blue gradient background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 50px;
}

.join_title h1{
  color: white;
  font-family: 'robotolight';
  font-size: 40px;
}

.join_title h4{
  color: yellow;
  font-family: 'robotolight';
}

.join_content .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    box-shadow: none;
    border-radius: 0px;
    width: 52%;
    height: auto;
}
.join_content label{
  color: white;
  font-family: 'robotoregular';
}

.join_content{
    margin-top: 10%;
}

.btn_join input{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #F40057;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 0px;
    margin-top: 50px;
    width: 40%;
}

.btn_join .btn-default:hover,.btn_join .btn-default:focus{
  color: white;
  background: #F40057;
  border-color: none;
}

/********************join form end**********************/

/******************join success**********************/

.join_success{
  background-image: url('../img/02_how to print_blue gradient background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 50px;
}

.joinsuccess_title h1{
  font-family: 'robotolight';
  font-size: 70px;
  margin-top: 10%;
  color: yellow;
}

.joinsuccess_content h2{
  font-family: 'robotolight';
  margin-top: 10%;
  color: white;
}

.text1{
  margin-top: -10%;
}

.to_home1 h4{
  margin-top: 15%;
  color: white;
  font-family: 'robotolight';
}

.to_home1 a{
  color: #f40057;
  text-decoration: underline;
}

/***********************************************/
          /*End of student page            */
/***********************************************/

.homesponsor{
  background-image:url('../img/20_sponsors home_hero image background.jpg');
  background-size: 100% 100%;
  height: auto;
  margin-top: -2%;
  padding: 50px;
  background-repeat: no-repeat;
}

.sponsor_text1 h1{
  margin-top: 5%;
  color: white;
  font-family: 'robotolight';
  font-size: 40px;
}

.sponsor_text2 h3{
  color: yellow;
  font-family: 'robotolight';
}

.sponsor_text3 h4{
  color: white;
  font-family: 'robotoregular';
}


 .get_in_touch .btn-default{
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   background-color: #F40057;
   font-size: 16px;
   color: white;
   border: none;
   border-radius: 0px;
   margin-top: 50px;
   /*width: 13%;*/
 }

 .get_in_touch .btn-default:hover,.get_in_touch .btn-default:focus {
     color: white;
     background: #F40057;
     border-color: none;
}

.arrow{
  margin-top: 5%;
}

.featured {
  padding: 50px;
}

.featured-in {
  padding: 50px 50px 0px 50px;
}
 /*********************home page sponsor end******************/

 /**********************value of ads************************/

 .value_page{
   background-image:url('../img/21_ads value_hero image background.jpg');
   background-size: 100% 100%;
   height: auto;
   padding: 50px;
   /*margin-top: 5%;*/
 }

  .value_title h1{
    color: #0091ea;
    font-family: 'robotolight';
    font-size: 50px;
  }

  .value{
    margin-top: 20px;
  }

  .value h2{
    color: #0091ea;
    font-family: 'robotolight';
  }

  .value p{
    font-family: 'robotomedium';
  }


  /*******************end of value of ads page*********************/

  /*******************control your ads**********************/

  .control_ads{
    background-image:url('../img/02_how to print_blue gradient background.jpg');
    background-size: 100% 100%;
    /*height: 751px;*/
    padding: 50px 50px 5px 50px;
  }

  .control_ads_title h1{
    color: white;
    font-family: 'robotolight';
    font-size: 50px;
  }

  .control_ads_text h3{
    color: yellow;
    font-family: 'robotolight';
    line-height: 30px;
  }

  .img_control_ads img{
    margin-top: 102px;
    /*margin-left: 20px;*/
  }

  /***************end of control your ads page*****************/
.trusted_by img {
  width: 100px;
}

.trusted_by{
  background-image:url('../img/04_campuses_light grey background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 50px;
}

.trustedby_title h1{
  font-family: 'robotolight';
  color: #0091ea;
  font-size: 50px;
}

.img_line4 img{
  margin-top: 20px;
}


.img_line2 img{
  margin-top: 20px;
}

.img_line1{
  margin-top: 10%;
}

.heavy img{
  margin-top: 40px;
  width: 80%;
}

.whoosh img{
  margin-top: 20px;
}

.cubinet img{
  margin-top: 20px;
}

.blincon img{
  margin-top: 20px;
}

.morgan img{
  margin-top: 30px;
  height: 30px;
}

.palsaik img{
  height: 70px;
  margin-top: 20px;
}

.viro img{
  height: 90px;
  margin-top: 10px;
}

.zion img{
  height: 90px;
  margin-top: 15px;
}

.runway img{
  height: 90px;
}

.beer img{
  height: 90px;
}

.weiner img{
  height: 90px;
}

.trusted_border{
  height: 110px;
  border-style: groove;
  border-width: 0px 1px 1px 0px;
}

.t-border1{
  height: 110px;
  border-style: groove;
  border-width: 0px 0px 1px 0px;
}

.trusted_border2{
  height: 130px;
  border-style: groove;
  border-width: 0px 1px 1px 0px;
}

.t-border2{
  height: 130px;
  border-style: groove;
  border-width: 0px 0px 1px 0px;
}

.trusted_border3{
  height: 130px;
  border-style: groove;
  border-width: 0px 1px 1px 0px;
}

.t-border3{
  height: 130px;
  border-style: groove;
  border-width: 0px 0px 1px 0px;
}

.trusted_border4{
  height: 130px;
  border-style: groove;
  border-width: 0px 1px 0px 0px;
}

/*********************end of trusted by page*************************/

.student_print{
  background-image:url('../img/02_how to print_blue gradient background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 50px;
}

.student_title h1{
  font-family: 'robotolight';
  color: white;
  font-size: 50px;
}

.student_text h4{
  font-family: 'robotoregular';
  color: yellow;
  font-size: 20px;

}

.student_chart{
  margin-top: 70px;
  color: white;
  font-family: 'robotolight';
}

.student_sentence1{
  margin-top: 20px;
}

.student_sentence2{
  margin-top: 20px;
}

.student_sentence3{
  margin-top: 20px;
}

/********************sponsor student printing page end**********************/
/*****************footer for sponsor page********************/

.fruni_sponsor h6{
  color: #cccbcb;
  font-family: 'robotoregular';
}

.email_icon_sponsor h6{
  color: #cccbcb;
  font-family: 'robotoregular';
}


.abf_involve_sponsor a{
  color: #cccbcb;
  font-family: 'robotoregular';
}

.copyright_involve_sponsor p{
  margin-top: 40px;
  color: #cccbcb;
  font-family: 'robotoregular';
  font-size: 12px;
}

.copyright_involve_sponsor img{
  margin-top: -5px;
}

/*********************footer for sponsor end***********************/
/******************sponsor enquiry**********************/

.enquiry_background{
  background-image: url('../img/02_how to print_blue gradient background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 50px;
}

.enquiry_title h1{
  font-family: 'robotolight';
  color: white;
  font-size: 45px;
}

.btn_submit input{
  font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #F40057;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 0px;
    margin-top: 50px;
}

.btn_submit .btn-default:hover,.btn_submit .btn-default:focus{
  color: white;
  background: #F40057;
  border-color: none;
}

.enquiry_content{
  margin-top: 90px;
}

.enquiry_content .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    box-shadow: none;
    border-radius: 0px;
    width: 44%;
    height: 10px;
}

.enquiry_content label{
  color: white;
  font-family: 'robotoregular';
  margin-top: -5px;
}

/*****************end of enquiry form*******************/


.enquiry_success{
  background-image: url('../img/02_how to print_blue gradient background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 50px;
}

.enquiry_success_title h1{
  font-family: 'robotolight';
  margin-top: 10%;
  font-size: 50px;
  color: yellow;
}

.enquiry_success_content h3{
  margin-top: 10%;
  font-family: 'robotolight';
  color: white;
}

.to_home_sponsor h4{
  margin-top: 15%;
  color: white;
  font-family: 'robotolight';
}

.to_home_sponsor a{
  color: #f40057;
  text-decoration: underline;
}

/*********************end of successfully enquiry**********************/
/*********************media query for sponsor page*********************/

@media only screen and (max-width: 320px){
  body{
    width: calc(100% + 4em)
  }

  .vline {
    height: auto;
    margin-bottom: 25px;
  }

  .featured_logo img {
    margin-top: 40px;
    width: 100px;
  }

  .featured {
    padding: 50px 50px 0px 50px;
  }

  .featured_in {
    margin-top: -20px;
    margin-bottom: 50px;
  }

  .frunilogo img{
    width: 45%;
    margin-top: 10px;
  }
  .sponsor_text1 h1{
    font-size: 30px;
  }
  .sponsor_text2 h3{
    font-size: 20px;
  }
  .sponsor_text3 h4{
    font-size: 15px;
  }

  .value_title h1{
    font-size: 30px;
  }

  .control_ads{
    height: auto;
  }

  .control_ads_title h1 {
    font-size: 30px;
    margin-top: 0px;
  }

  .control_ads_text h3{
    font-size: 15px;
    line-height: normal;
  }

  .value_page{
    background-image:none;
  }

  .value_content{
    text-align: center;
  }

  .value_ads_logo img{
    margin-left: -15px;
  }

  .value {
    margin-top: 0px;
    padding: 40px 40px 0px 40px;
  }

  .highly_target p{
    text-align: -webkit-center;
  }

  .multiple_impression p{
    text-align: -webkit-center;
  }

  .maximised_lifespan p{
    text-align: -webkit-center;
  }

  .row.featured{
    margin-right: 0px;
    margin-left: 0px;
  }

  .featured_logo{
    margin-top: 10%;
  }

  .featured_logo img{
    width: 70px;
  }

  .img_control_ads img{
    display: none;
  }
  .student_title h1{
    font-size: 30px;
  }

  .trustedby_title h1{
    font-size: 30px;
  }

  .trusted_border{
    height: 110px;
    border-width: 0px 1px 1px 0px;
  }

  .t-border1{
    height: 110px;
    border-width: 0px 0px 1px 0px;
  }

  .trusted_border2{
    height: 130px;
    border-width: 0px 1px 1px 0px;
  }

  .t-border2{
    height: 130px;
    border-width: 0px 0px 1px 0px ;
  }

  .trusted_border3{
    height: 130px;
    border-width: 0px 1px 1px 0px;
  }

  .t-border3{
    height: 130px;
    border-width: 0px 0px 1px 0px;
  }

  .trusted_border4{
    height: 130px;
    border-width: 0px 1px 1px 0px;
  }


  .enquiry_content .form-control {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      box-shadow: none;
      border-radius: 0px;
       width: 100%;
      height: auto;
    }

    .homesponsor{
      margin-top: -5%;
    }

    .save_spot h3{
      font-size: 17px;
    }

    .student_text h4{
      font-size: 15px;
    }
    .arrow {
    margin-top: 15%;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px){
  .card {
    border-radius: 3px;
  }

  .campus_title h1 {
    margin-bottom: 35px;
  }

  .vline {
    height: auto;
    margin-bottom: 25px;
  }
  .regbtn {
    margin-top: 12%;
  }

  .frunilogo img{
    width: 45%;
    margin-top: 10px;
  }
  .sponsor_text1 h1{
    font-size: 30px;
  }
  .sponsor_text2 h3{
    font-size: 20px;
  }
  .sponsor_text3 h4{
    font-size: 15px;
  }

  .value_title h1{
    font-size: 30px;
  }

  .control_ads{
    height: 330px;
  }

  .control_ads_title h1 {
    font-size: 30px;
  }

  .control_ads_text h3{
    font-size: 17px;
    line-height: 22px;
  }

  .value_page{
    background-image:none;
  }

  .value_content{
    text-align: center;
  }

  .highly_target p{
    text-align: -webkit-center;
  }

  .multiple_impression p{
    text-align: -webkit-center;
  }

  .maximised_lifespan p{
    text-align: -webkit-center;
  }

  .row.featured{
    margin-right: 0px;
    margin-left: 0px;
  }

  .featured_logo img {
    margin-top: 40px;
    width: 100px;
  }

  .featured_in {
    margin-top: -20px;
    margin-bottom: 50px;
  }

  .featured {
    padding: 50px 50px 0px 50px;
  }

  .img_control_ads img{
    display: none;
  }
  .student_title h1{
    font-size: 30px;
  }

  .trustedby_title h1{
    font-size: 30px;
  }

  .trusted_border{
    height: 110px;
    border-width: 0px 1px 1px 0px;
  }

  .t-border1{
    height: 110px;
    border-width: 0px 0px 1px 0px;
  }

  .trusted_border2{
    height: 130px;
    border-width: 0px 1px 1px 0px;
  }

  .t-border2{
    height: 130px;
    border-width: 0px 0px 1px 0px ;
  }

  .trusted_border3{
    height: 130px;
    border-width: 0px 1px 1px 0px;
  }

  .t-border3{
    height: 130px;
    border-width: 0px 0px 1px 0px;
  }

  .trusted_border4{
    height: 130px;
    border-width: 0px 1px 1px 0px;
  }


  .enquiry_content .form-control {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      box-shadow: none;
      border-radius: 0px;
       width: 100%;
      height: auto;
    }

    .homesponsor{
      margin-top: -5%;
    }

    .save_spot h3{
      font-size: 17px;
    }

    .student_text h4{
      font-size: 15px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px){
  .frunilogo img{
    width: 70%;
    margin-top: 10px;
  }
  .container {
    width: 650px !important;
  }

  /*.navbar-right li{
    margin-top: -40px;
  }*/
  .vline2 hr{
    margin-top: 12%;
  }

  .hr1 hr{
    margin-top: 17%;
  }

  .email_icon p{
    display: none;
  }

  .save_spot h3{
    font-size: 17px;
  }

  .featured_logo img{
    /*width: 80px;*/
    margin-top: 40px;
  }

  .value_ads .container{
    width: 730px;
  }

  .control_ads .container{
    width: 730px;
  }

  .trusted_by .container{
    width: 730px;
  }
  .control_ads{
    height: auto;
    padding: 50px 50px 4px 50px;
  }

  .control_ads_title h1, .trustedby_title h1, .student_title h1, .value_title h1, .featured-in h1 {
    font-size: 40px;
  }

  .trustedby_title h1 {
    margin-bottom: 50px;
  }
}

/***********************under construction page***************************/

.under_construction{
  background-image: url('../img/02_how to print_blue gradient background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 50px;
}

.construction_text h4{
  margin-top: 10%;
  font-family: 'robotolight';
  color: white;
}

.construction_text2 h5{
  margin-top: 5%;
  font-size: 16px;
  font-family: 'robotolight';
  color: yellow;
}

/*******************under construction for student page**********************/

.under_construction_student{
  background-image: url('../img/02_how to print_blue gradient background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 50px;
}

.construction_student_text h4{
  margin-top: 10%;
  font-family: 'robotolight';
  color: white;
}

.construction_student_text2 h5{
  margin-top: 5%;
  font-size: 16px;
  font-family: 'robotolight';
  color: yellow;
}

/*****************about page******************/

.about_fp{
  background-image: url('../img/02_how to print_blue gradient background.jpg');
  background-size: 100% 100%;
  height: auto;
  padding: 50px;
}

.about_content{
  margin-top: 5%;
}

.about_fp h1{
  text-align: center;
  font-family: 'robotolight';
  color: white;
  font-size: 55px;
}

.story h3{
  text-align: center;
  color: yellow;
  font-family: 'robotolight';
}

.story p{
  text-align: justify;
  color: white;
  font-family: 'robotolight';
}

.vision h3{
  text-align: center;
  color: yellow;
  font-family: 'robotolight';
}

.vision p{
  text-align: justify;
  color: white;
  font-family: 'robotolight';
}

.mission h3{
  text-align: center;
  color: yellow;
  font-family: 'robotolight';
}

.mission p{
  text-align: justify;
  color: white;
  font-family: 'robotolight';
}
